* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* q peoples */

.glass-panel {
  height: auto;
  padding: 3rem 6rem;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
  z-index: 10;
}

.mini-glass-panel {
  height: auto;
  padding: 2.5rem;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
  z-index: 11;
}

.shape {
  position: absolute;
  width: 150px;
  top: 15rem;
  left: 7rem;
  z-index: 1;
}

.glass-panelPink {
  height: auto;
  padding: 3rem 6rem;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(216, 4, 250, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(216, 4, 250, 0.4);
  position: relative;
  z-index: 10;
}
